<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Grapes Starter</title>
  <link rel='stylesheet' href='https://unpkg.com/grapesjs@0.17.2-rc.1/dist/css/grapes.min.css'>
  <link rel="stylesheet" href="./style.css">
  <link href="https://unpkg.com/grapesjs-template-manager/dist/grapesjs-template-manager.min.css" rel="stylesheet">
  <link href="https://unpkg.com/grapick/dist/grapick.min.css" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="app-wrap">
  <!-- Vue app for pages // NOT CURRENTLY WORKING -->
  <div class="app-wrap">
      <!-- Vue app for pages -->
     <div class="pages-wrp">
        <div class="add-page" @click="addPage">Add new page</div>
        <div class="pages">
          <div v-for="page in pages" :key="page.id" :class="{page: 1, selected: isSelected(page) }" @click="selectPage(page.id)">
            {{ page.get('name') || page.id }} <span v-if="!isSelected(page)" @click="removePage(page.id)" class="page-close">&Cross;</span>
          </div>
        </div>
    </div>
    <div class="editor-wrap">
       <div id="gjs"></div>
    </div>
  </div>
</div>
<!-- partial -->
<script src='https://unpkg.com/grapesjs@0.17.2-rc.1/dist/grapes.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2'></script>
<script src="dist/grapesjs-preset-webpage.min.js"></script>
<script src='https://unpkg.com/grapesjs-indexeddb@0.1.1/dist/grapesjs-indexeddb.min.js'></script>
<script src="https://unpkg.com/grapesjs-style-bg@1.0.5/dist/grapesjs-style-bg.min.js"></script>
<script src="https://unpkg.com/grapesjs-style-gradient@2.0.14/dist/grapesjs-style-gradient.min.js"></script>
<script src="https://unpkg.com/grapesjs-typed@1.0.5/dist/grapesjs-typed.min.js"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor@0.1.3/dist/grapesjs-tui-image-editor.min.js"></script>
<script src="https://unpkg.com/grapesjs-plugin-forms@2.0.1/dist/grapesjs-plugin-forms.min.js"></script>
<script src="https://unpkg.com/grapesjs-custom-code@0.1.3/dist/grapesjs-custom-code.min.js"></script>
<script src="https://cdn.rawgit.com/artf/grapick/master/dist/grapick.min.js"></script>
<script src="https://unpkg.com/grapesjs-plugin-ckeditor@0.0.10/dist/grapesjs-plugin-ckeditor.min.js"></script>
<script src="https://unpkg.com/grapesjs-plugin-export@1.0.7/dist/grapesjs-plugin-export.min.js"></script>
<script src="https://unpkg.com/grapesjs-touch@0.1.1/dist/grapesjs-touch.min.js"></script>
<script src="https://unpkg.com/grapesjs-blocks-flexbox@0.1.1/dist/grapesjs-blocks-flexbox.min.js"></script>
<script src="https://unpkg.com/grapesjs-navbar@0.1.5/dist/grapesjs-navbar.min.js"></script>
<script src="https://unpkg.com/grapesjs-lory-slider@0.1.5/dist/grapesjs-lory-slider.min.js"></script>
<script  src="./script.js"></script>

</body>
</html>
